.form-control,
.form-check-input {
    box-shadow: none !important;
}
.form-error {
    color: var(--bs-danger);
}
.form-control-error.form-check .form-check-input {
    border-color: var(--bs-danger);
}
